body {background-color: #fff; color: #000}
body, header ul {margin: 0; padding: 0}
header ul li, header ul {display: inline}
header ul li {font-size: 1.3em}
header, footer, .content, header ul li, .highlight {padding: 10}
a, a:visited {text-decoration: none}

header a {
background-color:#f00;
-moz-border-radius: 20px;
border-radius: 20px;
}

.content {min-height: 400px}
.postHeader {font-weight: bold}
.timestamp {color: #ececec}
