body {background-color: #fff; color: #000}
body, header ul {margin: 0; padding: 0}
header ul li, header ul {display: inline}
header ul li {font-size: 1.3em}
header, footer, .content, header ul li, .highlight {padding: 10}
a, a:visited {text-decoration: none; color: #FF9F50;}

header li {
-moz-border-radius: 15px;
border-radius: 15px;
}

header li:hover {
	background-color:#486BBA;	
}

header li.homelink {
	background-color:#43D543;
}

.content {min-height: 400px}
.postHeader {font-weight: bold}
.timestamp {color: #ececec}

h1 {
	color: #6A89CF;
}

header, footer {
	background-color: #486BBA;
}